<!DOCTYPE HTML>
<html>
	<head>
		<title>Epytodo</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="content">
							<div class="inner">
								<h1>Hello {{ username }}</h1>
								<p>You have {{ nb_tasks }} tasks whose :
                                    {{ not_started }} tasks not started, {{ in_progress }} tasks in progress and {{ done }} tasks done.
                                </p>
								{% include 'json_flash.html' %}
							</div>
                        </div>
                        <nav>
							<ul>
								<form method="post" action="{{ url_for('signout')}}"">
									<li><input type="submit" value="Signout"/></li>
								</form>
								<form method="get" action="{{ url_for('user_task')}}">
									<li><input type="submit" value="All tasks"/></li>
								</form>
							</ul>
						</nav>

			</div>

				<!-- Footer -->
					<!-- <footer id="footer">
						<p class="copyright">&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
					</footer> -->

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/utils.js') }}"></script>
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>
