ion-content {
    --background: #f2f2f7;
}

.list-ios {
    background: #f2f2f7;
}

ion-list {
    --background: #f2f2f7;
}

section {
    margin-left: 1.25em;
    margin-right: 1.25em;
    margin-top: 1.25em;
    margin-bottom: 0.7em;
}